* {
    /*box-shadow: 0 0 0 1px red;*/
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    transition-duration: .3s;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--base-color);
}

body::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
    opacity: 70%;
}

body::-webkit-scrollbar-thumb:active {
    background: var(--base-color);
    opacity: 80%;
}

.mainContainer {
    position: relative;
    width: 90%;
    max-width: 1270px;
    height: 96vh;
    margin: 25px auto 0;
    user-select: none;
    animation: init ease-in-out .2s;
}

.authContainer {
    position: relative;
    text-align: center;
    top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: init ease-in-out .2s;
}

.interfaceContainer {
    position: relative;
    display: flex;
    justify-content: center;
    top: 38px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.instructionsContainer {
    position: absolute;
    width: 100%;
    top: 75%;
    animation: blink infinite 2s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}

.timer {
    display: flex;
    font-size: 2rem;
    color: var(--second-active-color);
    position: absolute;
    bottom: 128px;
    left: 190px;
    animation: init ease-in-out .2s;
    transition-duration: .3s;
}

.timerActive {
    animation: blink infinite 1s;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

@media screen and (max-width:1120px) {

    .timer {
        left: 115px;
    }

}
