* {
    /*box-shadow: 0 0 0 1px red;*/
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body, html {
    background-color: var(--background-color);
    transition-duration: .2s;
}

body {
    margin: 0;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1270px;
    height: 96vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    user-select: none;
    animation: init ease-in-out .2s;
}

.authContainer {
    position: relative;
    text-align: center;
    top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: init ease-in-out .2s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.instructions {
    position: absolute;
    color: var(--base-color);
    left: 33%;
    top: 170px;
    font-size: 1.9rem;
    animation: blink 2s infinite;
}

.exampleContainer {
    position: absolute;
    top: 45%;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    animation: init ease-in-out .2s;
}

.timer {
    font-size: 2rem;
    color: var(--header-timer-example);
    position: absolute;
    top: 200px;
    left: 190px;
    animation: init ease-in-out .2s;
}

.timerActive {
    animation: blink infinite 1s;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

@media screen and (max-width:1120px) {

    .timer {
        left: 115px;
    }

}

/*Стили для таймера полоски*/

/*style={{*/
/*      fontSize: '2rem',*/
/*      color: 'var(--header-timer-example)',*/
/*      position: 'absolute',*/
/*      bottom: '79px',*/
/*      left: '205px',*/
/*      height: '3px',*/
/*      animation: 'init ease-in-out .3s',*/
/*      width: `${width}px`,*/
/*      background: 'var(--base-color)',*/
/*      cursor: 'pointer',*/
/*      transition: 'width 1s linear',*/
/*  }}*/
