[data-theme='black'] {
    --background-color: #2C2E31;
    --base-color: #808080;
    --active-color: #FFFFFF;
    --second-active-color: #FFFFFF;
    --interface-background-color: rgba(26, 26, 29, 0.49);
    --line-color: #646669;
    --modification-unactive: #808080;
    --footer-color: #808080;
}

[data-theme='PP'] {
    --background-color: #FFC0CB;
    --base-color: #F43EA2;
    --active-color: #FFFFFF;
    --second-active-color: #F43EA2;
    --interface-background-color: #FFADBB;
    --line-color: #FF7088;
    --modification-unactive: #f897cc;
    --footer-color: #F43EA2;
}

[data-theme='ocean'] {
    --background-color: #161b22;
    --base-color: #93A3B1;
    --active-color: #FFFFFF;
    --second-active-color: #FFFFFF;
    --interface-background-color: #192d36;
    --line-color: #6d7a85;
    --modification-unactive: #93A3B1;
    --footer-color: #93A3B1;
}

[data-theme='chemodan'] {
    --background-color: #e6ccb2;
    --base-color: #9c6644;
    --active-color: rgba(255, 255, 255, 0.92);
    --second-active-color: #7f5539;
    --interface-background-color: #ddb892;
    --line-color: #7f5539;
    --modification-unactive: #ddb892;
    --footer-color: #9c6644;
}

[data-theme='norton'] {
    --background-color: #00007f;
    --base-color: #fdfdfd;
    --active-color: #ffff00;
    --second-active-color: #ffff00;
    --interface-background-color: #007f7f;
    --line-color: #00557f;
    --modification-unactive: #007f7f;
    --footer-color: #fdfdfd;
}