.authContainer {
    position: relative;
    align-items: center;
    display: flex;
    transition-duration: 1s;
}

::-webkit-input-placeholder {
    font-size: 17px;
    color: var(--base-color);
    opacity: .7;
    margin-top: 10px
}

.npt {
    border: none;
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
    color: var(--second-active-color);
    cursor: text;
    box-sizing: border-box;
    border-radius: 10px;
    border: var(--modal-border);
    background-color: var(--interface-background-color);
    font-family: inherit;
    font-size: 17px;
    width: 230px;
    height: 35px;
    padding: 0 12px;
    display: inline-block;
    transition-duration: .125s;
    transition: box-shadow 0.2s;
}

.npt:focus + .passBtn,
.authContainer:hover .passBtn {
    display: inline-block;
}

.npt:focus {
    box-shadow: 0 0 0 1px var(--active-color);
}

.npt:hover {
    box-shadow: 0 0 0 1px var(--base-color);
}

.visiblePassword:not(:placeholder-shown) {
    font-size: 28px;
    padding: 0 30px;
    text-overflow: clip;
}

.notVisiblePassword {
    font-size: 17px;
}

.passBtn {
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 11px;
    border-radius: 50%;
    border: 2px var(--base-color) solid;
    opacity: 60%;
}

.passBtnActive {
    background: var(--base-color);
}

.passBtn:hover {
    border-color: var(--active-color);
}

.passBtn:active {
    border-color: var(--base-color);
}