.timerContainer {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 127px;
    justify-content: space-around;
    gap: 420px;
    font-size: 20px;
    color: var(--second-active-color);
    animation: init ease-in-out .2s;
    transition-duration: .3s;
}

.retryContainer {
    display: flex;
}

.roundCounter {
    display: flex;
    font-size: 2rem;
    color: var(--second-active-color);
    position: absolute;
    bottom: 127px;
    left: 15%;
    animation: init ease-in-out .2s;
    transition-duration: .3s;
}

.timerContainerActive {
    justify-content: space-around;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}