.resultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89%;
    animation: var(--animation-init);
    color: var(--second-active-color);
    font-size: 25px;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    min-width: 400px;
    gap: 12px;
    user-select: text;
}

.resultTitle {
    position: relative;
    bottom: 15%;
}

.buttonContainer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.resultStatContainer {
    display: flex;
    position: relative;
    gap: 8px;
    width: 100%;
}
