.position{
    position: absolute;
    top:-200px;
    left:200px;
}

.center{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 29, 0.49);
    border-radius: 12px;
    width: 900px;
    height: 31px;
    user-select: none;
    margin-right: 125px;
}

/*Режимы*/

.containerModes{
    position: absolute;
    display: flex;
    gap: 150px;
    flex-direction: row;
    color: gray;
    background-color: transparent;
}

.modes{
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
}

.modes:hover{
    color: #bbbcbe;
}

.modesActive{
    color:white;
}

/**/

/*Вертикальные линии*/

.containerLines{
    position: absolute;
    display: flex;
    background-color: transparent;
    gap: 585px;
}

.verticalLine{
    height: 21px;
    width: 4px;
    border-radius: 20px;
    background-color: #424245;
    transition-property: transform;
    transition-duration: 0.3s;
}

.rotateLine{
    transform: rotate(90deg);
}

/**/

/*Время*/

.containerTime{
    position: absolute;
    margin-left: 745px;
    margin-bottom: 0;
    gap: 15px;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    color: grey;
}

.time{
    font-size: 16px;
    background-color: inherit;
    cursor: pointer;
}

.time:hover{
    color: darkgrey;
}

.time:active{
    color: white;
}

.timeActive{
    color:white;
}

/**/

/*Знаки*/

.containerSigns{
    position: absolute;
    margin-right: 750px;
    margin-top: 2px;
    font-size: 19px;
    gap: 22px;
    background-color: transparent;
    display: flex;
    color: grey;
}

.signs{
    background-color: inherit;
    cursor: pointer;
}

.signs:hover{
    color: darkgrey;
}

.signs:active{
    color: white;
}

.signsActive {
    color: white;
}

/**/