.number {
    font-size: 17px;
    background-color: transparent;
    color: var(--base-color);
    min-width: 20px;
}

.number:hover {
    color: var(--active-color);
}

.number:active {
    color: var(--base-color);
}

.numberActive {
    color: var(--active-color);
}
