.content {
    position: relative;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 4rem;
    color: var(--active-color);
}

.cursor {
    font-size: 4rem;
    transition: none;
    animation: blink infinite .8s;
}

@keyframes blink {

    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }

}