.time {
    font-size: 16px;
    background-color: transparent;
    min-width: 20px;
    color: var(--base-color);
}

.time:hover {
    color: var(--active-color);
}

.time:active {
    color: var(--base-color);
}

.timeActive {
    color: var(--active-color);
}