.resultContainer{
    display: flex;
    position: relative;
    justify-content: center;
    height: 85%;
    animation: init ease-in-out .2s;
    font-size: 25px;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 180px;
    font-size: 22px;
    min-width: 400px;
    gap: 12px;
    user-select: text;
}

.title {
    position: absolute;
    top: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--second-active-color);
}

.buttonContainer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}