.resultContainer{
    display: flex;
    position: relative;
    justify-content: center;
    height: 85%;
    animation: init ease-in-out .2s;
    font-size: 25px;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 190px;
    font-size: 22px;
    min-width: 400px;
    gap: 12px;
}

.title {
    position: absolute;
    top: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--second-active-color);
}

.instructionLink {
    color: var(--base-color);
    margin-right: 6px;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: .125s;
}

.instructionLink:hover {
    color: var(--active-color);
}

.instruction {
    font-size: 17px;
    margin-top: 55px;
    color: var(--base-color);
}

.epsContainer {
    display: flex;
    color: var(--base-color);
    justify-content: space-between;
}

.epsValue {
    color: var(--active-color);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}