.container {
    display: flex;
    position: relative;
    top: 45vh;
    color: var(--active-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    animation: init ease-in-out .2s;
}

.btn {
    font-size: 1.9rem;
    margin-top: 28px;
}