.myModal {
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.myModalContent {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
    box-sizing: border-box;
    border: var(--modal-border);
    min-width: 200px;
    color: var(--base-color);
    font-size: 20px;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.myModalActive {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .3s;
    animation-name: init;
}

.closeCrossButton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10%;
    right: 5%;
    cursor: pointer;
}

.closeCross {
    fill: var(--active-color);
}

.closeCross:hover {
    fill: var(--footer-color);
}