.modifications {
    fill: var(--modification-unactive);
    cursor: pointer;
    transition-duration: .125s;

    &:active {
        fill: var(--base-color);
    }

}

.svgModeActive {
    fill: var(--active-color);
}

.modificationsButton {

    &:hover {
        opacity: 70%;
    }

}

