.footer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 12px;
}

a {
    text-decoration: none;
    color: var(--base-color);
    font-size: 1.8rem;
    transition-duration: .3s;
}

a:active {
    color: var(--base-color);
}

.extra {
    display: inline-block;
    color: var(--footer-color);
    font-size: 1.8rem;
    transition-duration: .125s;
}

.extra:hover {
    color: var(--footer-hover);
}

.extra:active {
    color: var(--footer-color);
}

.errorEmail {
    color: white;
    user-select: text;
    background-color: var(--background-color);
}

.versionNumber {
    font-size: 2.5rem;
    background-color: var(--background-color);
    color: #ffff;
}

.versionText {
    color: var(--footer-color);
    background-color: var(--background-color);
    margin-top: 10px;
}

.leftBlock {
    display: flex;
    gap: 90px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}

.leftBlock > * {
    flex-shrink: 0;
}

.rightBlock {
    display: flex;
    justify-content: flex-end;
    gap: 120px;
    width: 100%;
}

.versionModal::-webkit-scrollbar {
    width: 10px;
}

.versionModal::-webkit-scrollbar-track {
    background: var(--background-color);
}

.versionModal::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--base-color);
}

.versionModal::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.versionModal::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
    opacity: 70%;
}

.versionModal::-webkit-scrollbar-thumb:active {
    background: var(--base-color);
    opacity: 80%;
}

.versionModal {
    max-height: 80vh;
    overflow-y: scroll;
}

.versionContainer {
    margin-bottom: 24px;
}

.versionContainer:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {

    .extra {
        font-size: 1.6rem;
    }

}

@media screen and (max-width:1080px){

    .leftBlock {
        gap: 60px;
    }

    .rightBlock {
        gap: 90px;
    }

}

@media screen and (max-width:950px){

    .extra {
        font-size: 1.5rem;
    }

    .leftBlock {
        gap: 50px;
    }

    .rightBlock {
        gap: 70px;
    }

}