.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

a {
    text-decoration: none;
    color: var(--base-color);
    font-size: 1.8rem;
    transition-duration: .3s;
}

a:active {
    color: var(--base-color);
}

.element {
    display: inline-block;
    color: var(--footer-color);
    font-size: 1.8rem;
    transition-duration: .125s;

    &:hover {
        color: var(--active-color);
    }

    &:active {
        color: var(--footer-color);
    }
}

.errorEmail {
    color: var(--active-color);
    user-select: text;
    background-color: var(--background-color);
}

.versionNumber {
    font-size: 2.5rem;
    background-color: var(--background-color);
    color: var(--active-color);
}

.versionText {
    color: var(--footer-color);
    background-color: var(--background-color);
    margin-top: 10px;
}

.leftBlock {
    display: flex;
    gap: 70px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}

.leftBlock > * {
    padding: 10px 10px 12px 10px;
    flex-shrink: 0;
}

.leftBlock > button:first-child {
    padding-left: 0;
}

.rightBlock {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    width: 100%;
}

.rightBlock > button {
    padding: 10px 10px 12px 10px;
}

.rightBlock > button:last-child {
    padding-right: 0;
}

.versionModal::-webkit-scrollbar {
    width: 10px;
}

.versionModal::-webkit-scrollbar-track {
    background: var(--background-color);
}

.versionModal::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--base-color);
}

.versionModal::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.versionModal::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
    opacity: 70%;
}

.versionModal::-webkit-scrollbar-thumb:active {
    background: var(--base-color);
    opacity: 80%;
}

.versionModal {
    max-height: 80vh;
    overflow-y: scroll;
}

.versionContainer {
    margin-bottom: 24px;
}

.versionContainer:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {

    .element {
        font-size: 1.6rem;
    }

}

@media screen and (max-width:1080px){

    .leftBlock {
        gap: 40px;
    }

    .rightBlock {
        gap: 70px;
    }

}

@media screen and (max-width:950px){

    .element {
        font-size: 1.5rem;
    }

    .leftBlock {
        gap: 50px;
    }

    .rightBlock {
        gap: 70px;
    }

}