.npt{
    font-family: inherit;
    font-size: 30px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--base-color);
    width: 90px;
}

input{
    text-align: center;
    border: none;
    margin-left: 5px;
    background-color: inherit;
    color: var(--base-color);
    padding: 5px;
    cursor: pointer;
}

/*Скрытие поля ввода*/

[contenteditable="true"]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


