.npt{
    font-size: 30px;
    border-bottom-width: 2px ;
    border-bottom-style: solid;
    border-bottom-color: white;
    width: 100px;
    -moz-appearance: textfield;

}

input{
    text-align: center;
    border: none;
    margin-left: 5px;
    background-color: #424245;
    color: white;
    padding: 5px;
    cursor: pointer;
}

/*Скрытие поля ввода*/

[contenteditable="true"]:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


