.center {
    display: flex;
    position: relative;
    top: 30px;
    justify-content: center;
    margin-top: 8px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--interface-background-color);
    border-radius: 12px;
    width: 900px;
    height: 31px;
    user-select: none;
    animation: init ease-in-out .2s;
    transition-duration: .3s;
}

.containerModes {
    position: absolute;
    display: flex;
    gap: 140px;
    flex-direction: row;
    background-color: transparent;
    transition-duration: .3s;
}

.containerTime {
    position: absolute;
    margin-left: 705px;
    margin-bottom: 0;
    gap: 16px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    animation: init ease-in-out .3s;
    transition-duration: .3s;
}

.containerNumber {
    position: absolute;
    margin-left: 705px;
    margin-bottom: 0;
    gap: 27px;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    animation: init ease-in-out .3s;
    transition-duration: .3s;
}

.containerSigns {
    position: absolute;
    margin-right: 720px;
    margin-top: 2px;
    font-size: 19px;
    gap: 31px;
    background-color: transparent;
    display: flex;
    transition-duration: .3s;
}

@media screen and (max-width:990px) {
    .mainContainer{
        width: 750px;
    }

    .containerModes {
        gap: 78px;
    }

    .containerSigns {
        margin-right: 585px;
    }

    .containerTime {
        margin-left: 570px;
        gap: 16px;
    }

    .containerNumber {
        margin-left: 570px;
        gap: 27px;
    }
}


@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}