.highlightContainer {
    width: 50%;
    height: 150px;
    position: relative;
    background: var(--interface-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    transition: .3s;
}

.highlightContainer:hover .epsDescription,
.highlightContainer:hover .gameModeTitle,
.highlightContainer:hover .descriptionProps {
    opacity: 1;
    transform: translateY(0);
}

.highlightContainer:not(:hover) .gameModeTitle {
    transform: translateY(5px);
    transition-delay: 0s;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    justify-content: center;
    text-align: center;
    color: var(--active-color);
}

.epsDescription,
.descriptionProps {
    position: absolute;
    opacity: 0;
    transition: opacity .15s, transform .15s;
}

.epsDescription {
    left: 10px;
    top: 60px;
    color: var(--base-color);
    font-size: 18px;
}

.gameModeTitle {
    position: absolute;
    top: -25px;
    background: var(--interface-background-color);
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--active-color);
    padding: 5px 15px;
    transition: opacity .15s, transform .15s;
    opacity: 0;
    transform: translateY(5px);
    transition-delay: .125s;
}

.descriptionProps {
    left: 10px;
    top: 105px;
    color: var(--base-color);
    font-size: 18px;
}

.title {
    color: var(--base-color);
    font-size: 18px;
}

.eps {
    font-size: 26px;
}

.additionalParameter {
    font-size: 22px;
}

@media screen and (max-width: 1120px) {
    .epsDescription {
        top: 63px;
        font-size: 16px;
    }

    .title {
        font-size: 16px;
    }

    .eps {
        font-size: 22px;
    }

    .additionalParameter {
        font-size: 18px;
    }
}
