.highlightContainer {
    width: 50%;
    height: 150px;
    position: relative;
    background: var(--interface-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    justify-content: center;
    text-align: center;
    color: var(--active-color);
}

.epsDescription {
    position: absolute;
    left: 10px;
    top: 60px;
    color: var(--base-color);
    font-size: 18px;
}

.descriptionProps {
    position: absolute;
    left: 10px;
    top: 105px;
    color: var(--base-color);
    font-size: 18px;
}

.descriptionFocus {
    animation: init ease-in-out .125s;
}

.descriptionBlur {
    animation: delete ease-in-out .125s;
}

.title {
    color: var(--base-color);
    font-size: 18px;
}

.eps {
    font-size: 26px;
}

.additionalParameter {
    font-size: 22px;
}

@media screen and (max-width: 1120px) {

    .description {
        top: 63px;
        font-size: 16px;
    }

    .title {
        font-size: 16px;
    }

    .eps {
        font-size: 22px;
    }

    .additionalParameter {
        font-size: 18px;
    }

}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

@keyframes delete {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }

}