.mainContainer {
    position: relative;
    text-align: center;
    top: 150px;
    animation: init ease-in-out .2s;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registerHeader {
    position: relative;
    color: var(--active-color);
    font-size: 23px;
    margin-bottom: 10px;
    right: 33px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.loginHeader {
    position: relative;
    color: var(--active-color);
    font-size: 23px;
    margin-bottom: 10px;
    right: 72px;
}

.positionButtons {
    margin-top: 10px;
}

.positionRegisterLoader {
    top: 3px;
    margin-right: 45px;
}

.positionLoginLoader {
    top: 3px;
    margin-right: 125px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
}