.btn {
    padding: 11px 13px;
    background-color: var(--interface-background-color);
    border-radius: 15px;
    border: var(--interface-background-color), solid, 1px;
    font-size: 20px;
    color: var(--base-color);
    margin-top: 20px;
    cursor: pointer;
    transition-duration: .125s;
    font-family: 'Montserrat', sans-serif;
    opacity: 100%;
}

.btn:hover {
    color: var(--footer-hover);
    transition: none;
}

.btn:active {
    color: var(--base-color)
}

