.btn {
    min-width: 100px;
    min-height: 42px;
    padding: 11px 13px;
    background-color: var(--interface-background-color);
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: var(--base-color);
    cursor: pointer;
    transition-duration: .125s;
    font-family: inherit;
}

.btn:hover {
    color: var(--footer-hover);
    transition: none;
}

.btn:active {
    color: var(--base-color)
}

