.seedContainer {
    display: flex;
    margin-top: 16px;
    height: 26px;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
}

.seedInput {
    height: 13px;
    transition-duration: .250s;
    font-size: 16px;
}

.seedButton {
    height: 26px;
    width: 25px;
}

.seedIcon {
    fill: var(--modification-unactive);
}

.seedIconActive {
    fill: var(--active-color);
}

.seedButton:hover {
    opacity: 70%;
}
