.btn {
    padding: 11px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: var(--interface-color);
    border-radius: 15px;
    border: var(--interface-color), solid, 1px;
    font-size: 20px;
    color: var(--base-color);
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    color: white;
}

.btn:active {
    color: var(--base-color)
}

