.mainContainer {
    margin-top: 65px;
    left: 160px;
    animation: init ease-in-out .2s;
}

@keyframes init {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

.anotherTiles {
    filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.soonContainer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 130px;
    width: 100%;
    transition-duration: .3s;
}

.comingSoon {
    color: var(--base-color);
    font-size: 2.7rem;
    cursor: pointer;
    transition-duration: .3s;
}

.comingSoon:hover {
    color: rgba(255, 255, 255, 0.73);
}

.tiles {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: var(--interface-background-color);
    transition-duration: .3s;
}

@media screen and (max-width: 900px){

    .comingSoon {
        font-size: 2.4rem;
    }

}