.resultContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 35%;
    animation: init ease-in-out .2s;

}

.result {
    text-align: center;
    font-size: 25px;
    color: var(--active-color);
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}