.signs {
    background-color: inherit;
    font-size: 19px;
    color: var(--base-color);
}

.signs:hover {
    color: var(--active-color);
}

.signs:active {
    color: var(--base-color);
}

.signsActive {
    color: var(--active-color);
}