.signs {
    background-color: inherit;
    font-size: 19px;
    color: var(--interface-select-unactive);
    transition-duration: .3s;
}

.signs:hover {
    color: var(--active-color);
}

.signs:active {
    color: var(--interface-select-unactive);
}

.signsActive {
    color: var(--active-color);
}