.instructions {
    color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    text-align: center;
    fill: var(--active-color);
    transition-duration: .3s;
}

.hidden {
    animation: delete normal .15s;
}

.init {
    animation: init ease-in-out .15s;
}

.btn {
    background: transparent;
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    transition-duration: .125s;
}

.btn:hover {
    opacity: 50%;
}

@keyframes delete {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}