.exampleModal {
    min-height: 15vh;
    max-height: 80vh;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
    font-size: 26px;
    color: var(--base-color);
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.exampleContainer {
    display: flex;
    position: relative;
    padding: 0 10px 10px 10px;
    flex-direction: column;
    gap: 3px;
    font-size: 28px;
    min-width: 220px;
    color: var(--second-active-color);
}

.exampleTitle {
    font-size: 22px;
    text-align: center;
    color: var(--base-color);
    margin-bottom: 20px;
}

.spoiler {
    background-color: var(--base-color);
    color: var(--base-color);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    transition-duration: .125s;

    &:hover {
        background-color: transparent;
        color: var(--second-active-color);
    }

}

.timeContainer {
    display: flex;
    position: relative;
    padding: 0 10px 10px 10px;
    flex-direction: column;
    gap: 3px;
    font-size: 28px;
    text-align: start;
    color: var(--second-active-color);
}

.timeTitle {
    font-size: 22px;
    text-align: center;
    color: var(--base-color);
    margin-bottom: 20px;
}

.exampleTimeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.exampleTime {
    width: 100%;
}

.exampleArrow {
    color: var(--base-color);
}

.answer {
    color: var(--footer-color);
}
.exampleModal::-webkit-scrollbar {
    width: 10px;
}

.separator {
    border: 1px var(--base-color) solid;
}

.exampleModal::-webkit-scrollbar-track {
    background: transparent;
}

.exampleModal::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--base-color);
}

.exampleModal::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.exampleModal::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
    opacity: 70%;
}

.exampleModal::-webkit-scrollbar-thumb:active {
    background: var(--base-color);
    opacity: 80%;
}