.container {
    position: absolute;
    bottom: 45px;
    left: 70px;
}

.support {
    padding: 8px 10px;
    border-radius: 20px;
    background-color: var(--interface-color);
    animation-duration: 2.4s;
    animation-name: init;
}

@keyframes init {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    50% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}