input {
}

::-webkit-input-placeholder {
    color: var(--base-color);
}

.npt {
    border: none;
    text-align: center;
    margin: 0;
    color: var(--header-timer-example);
    cursor: text;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--interface-color);
    font-family: inherit;
    font-size: 17px;
    width: 230px;
    height: 35px;
    padding: 1rem;
    display: inline-block;
    transition: box-shadow 0.2s;
}

.npt:hover {
    box-shadow: 0 0 0 1px var(--base-color);
}

.npt:focus {
    box-shadow: 0 0 0 1px var(--active-color);
}
