.npt {
    font-family: inherit;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid var(--base-color);
    width: 90px;
    text-align: center;
    background-color: inherit;
    color: var(--header-timer-example);
    padding: 5px;
    cursor: text;
}

.nptActive {
    border-bottom-color: #0FBE26;
}

[contenteditable="true"]:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


