.container {
    display: flex;
    position: relative;
    top: 28%;
    color: var(--active-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: var(--animation-init);
}

.title_num {
    font-size: 110px;
}

.title_int {
    font-size: 25px;
}