.mode {
    font-size: 16px;
    background-color: transparent;
    color: var(--base-color);
}

.mode:hover {
    color: var(--active-color);
}

.mode:active {
    color: var(--base-color);
}

.modeActive {
    color: var(--active-color);
}