.mode {
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.mode:hover {
    color: white;
}

.mode:active {
    color: var(--base-color);
}

.modeActive {
    color: var(--active-color);;
}