.btn {
    background-color: var(--interface-background-color);
    color: var(--base-color);
    border: var(--interface-background-color), solid, 1px;
    margin-top: 10px;
    cursor: pointer;
    height: 35px;
    font-size: 18px;
    width: 230px;
    border-radius: 10px;
    padding: 0;
    transition: color 0.2s;
    border: var(--modal-border);
    transition-duration: .125s;
}

.btn:disabled {
    pointer-events: none;
    opacity: 50%;
    cursor: auto;
}

.btn:hover {
    color: var(--active-color);
    transition: none;
}

.btn:active {
    color: var(--base-color);
}

