.rightLine {
    position: relative;
    right: 10px;
    transition-duration: .3s;
}

.leftLine {
    position: relative;
    right: 545px;
    transition-duration: .3s;
}

.rotateLine {
    transform: rotate(90deg);
}

@media screen and (max-width:990px) {

    .rightLine {
        right: 10px;
    }

    .leftLine {
        right: 400px;
    }

}