.mainContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: var(--interface-background-color);
    border-radius: 12px;
    border: var(--modal-border);
    height: 31px;
    user-select: none;
    animation: var(--animation-init);
    transition-duration: .3s;
}

.containerMods {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 32px;
    width: 490px;
    height: 100%;
    flex-direction: row;
    background-color: transparent;
}

.containerParams {
    display: flex;
    margin-bottom: 0;
    padding-right: 20px;
    width: 170px;
    height: 100%;
    flex-direction: row;
    background-color: transparent;
    animation: var(--animation-init);
}

.containerParams:first-child {
    background-color: red;
}

.containerSigns {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    height: 100%;
    padding-left: 10px;
    font-size: 19px;
    background-color: transparent;
}

@media screen and (max-width:990px) {
    .containerMods {
        width: 350px
    }

}
