.mainContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: var(--interface-background-color);
    border-radius: 12px;
    height: 31px;
    user-select: none;
    animation: init ease-in-out .2s;
    transition-duration: .3s;
}

.containerMods {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 32px;
    width: 490px;
    height: 100%;
    flex-direction: row;
    background-color: transparent;
}

.containerParams {
    display: flex;
    margin-bottom: 0;
    padding-right: 20px;
    width: 170px;
    height: 100%;
    flex-direction: row;
    background-color: transparent;
    animation: init ease-in-out .3s;
}

.containerParams:first-child {
    background-color: red;
}

.containerSigns {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    height: 100%;
    padding-left: 10px;
    font-size: 19px;
    background-color: transparent;
}

@media screen and (max-width:990px) {
    .containerMods {
        width: 350px
    }

}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}