.inputContainer {
    display: flex;
    width: 310px;
    height: 340px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    animation: init ease-in-out .2s;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    font-size: 22px;
}

.title {
    font-size: 15px;
    text-align: center;
}

.loaderContainer {
    display: flex;
    position: relative;
    bottom: 10px;
    right: 17px;
}

.loader{
    margin-right: 15px;
    margin-top: 16px;
}

@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}
