[dataTheme='Темная'] {
    --background-color: #2C2E31;
    --base-color: gray;
    --active-color: white;
    --interface-color: rgba(26, 26, 29, 0.49);
    --line-color: #424245;
    --header-timer-example: white;
    --modal-color: #303033;;
}


[dataTheme='PP'] {
    --background-color: #FFC0CB;
    --base-color: #F43EA2;
    --active-color: white;
    --interface-color: #FFADBB;
    --line-color: #FF7088;
    --header-timer-example: #F43EA2;
    --modal-color: #FFADBB;
}
