.container {
    display: flex;
    position: relative;
    height: 100%;
    color: var(--active-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.btn {
    font-size: 1.9rem;
    margin-top: 28px;
}