.comparisonContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    min-width: 125px;
    left: 100%;
}

.betterResultNumber, .worseResultNumber{
    transition-duration: .5s;
    padding-left: 10px;
    animation: init .5s ease;
}

.betterResultNumber {
    color: var(--active-color);
}

.worseResultNumber {
    color: var(--base-color);
}

@keyframes init {

    from {
        opacity: .3;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}