.round {
    color: var(--base-color);
    min-width: 20px;
}

.round:hover {
    color: var(--active-color);
}

.round:active {
    color: var(--base-color);
}

.roundActive {
    color: var(--active-color);
}