.signs {
    background-color: inherit;
    padding: 0 16px;
    font-size: 19px;
    min-width: 20px;
    color: var(--base-color);
    transition-duration: .125s;
}

.signs:hover {
    color: var(--active-color);
}

.signs:active {
    color: var(--base-color);
}

.signsActive {
    color: var(--active-color);
}