.containerHeader {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: var(--header-timer-example);
    cursor: pointer;
}

.containerAccount {
    display: flex;
    animation: init ease-in-out .3s;
    justify-content: center;
    align-items: center;
}

@keyframes init {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

.username {
    font-size: 21px;
    color: white;
    animation: inherit;
    cursor: pointer;
}

.username:hover, .logout:hover, .svgProfile:hover, .logoutContainer:hover {
    opacity: 50%;
}

.username:active, .logout:active, .svgProfile:active, .logoutContainer:active {
    opacity: 100%;
}

.profile {
    width: 30px;
    height: 30px;
    animation: inherit;
}

.svgProfile {
    cursor: pointer;
}

.logoutContainer {
    cursor: pointer;
    margin-top: -3px;
    margin-left: 7px;
    width: 22px;
    height: 22px;
    animation: inherit;
}