.containerHeader {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: var(--header-timer-example);
    cursor: pointer;
}

.containerAccount {
    display: flex;
    animation: init ease-in-out .3s;
    justify-content: center;
    align-items: center;
}

.logoModsContainer {
    display: flex;
    justify-content: space-between;
}

@keyframes init {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

.username {
    font-size: 21px;
    color: white;
    animation: inherit;
    cursor: pointer;
}

.username:hover, .logout:hover, .profile:hover, .logoutContainer:hover {
    opacity: 50%;
}

.username:active, .logout:active, .profile:active, .logoutContainer:active {
    opacity: 100%;
}

.profile {
    width: 30px;
    height: 30px;
    animation: inherit;
    cursor: pointer;
}

.svgModeOn {
    margin-top: 19px;
    margin-left: 20px;
    fill: var(--base-color);
    cursor: pointer;
}

.svgModeOne:hover {
    fill: var(--active-color);
}

.svgModeOne:active {
    fill: var(--base-color);
}

.svgModeOff {
    margin-top: 19px;
    margin-left: 20px;
    fill: var(--active-color);
    cursor: pointer;
}

.logoutContainer {
    cursor: pointer;
    margin-top: -3px;
    margin-left: 7px;
    width: 22px;
    height: 22px;
    animation: inherit;
}