.registerHeader {
    position: relative;
    color: var(--active-color);
    font-size: 23px;
    margin-bottom: 10px;
    right: 33px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.positionRegisterLoader {
    top: 3px;
    margin-right: 45px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
}