.btn {
    background-color: var(--interface-color);
    color: var(--base-color);
    border: var(--interface-color), solid, 1px;
    margin-top: 10px;
    cursor: pointer;
    height: 35px;
    font-size: 18px;
    width: 230px;
    border-radius: 10px;
    padding: 0;
    transition: color 0.2s;
}

.disabled {
    opacity: 50%;
}

.btn:hover {
    color: var(--active-color);
}

.btn:active {
    color: var(--base-color);
}

