.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: var(--second-active-color);
    cursor: pointer;
    transition-duration: .3s;
}

.logoModsContainer {
    display: flex;
    transition-duration: .125s;
    justify-content: space-between;
}

.modificationsContainer > button {
    padding: 19px 10px 5px 10px;
}

.modificationsContainer > button:first-child {
    padding: 19px 10px 5px 20px;
}

@keyframes init {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}