.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: var(--second-active-color);
    cursor: pointer;
    transition-duration: .3s;
}

.link {
    display: flex;
    gap: 10px;
    height: 25px;
    transition-duration: .125s;
    animation: init ease-in-out .2s;
}

.loader {
    margin-top: 4px;
}

.containerAccount {
    display: flex;
    animation: init ease-in-out .3s;
    justify-content: center;
    align-items: center;
}

.logoModsContainer {
    display: flex;
    transition-duration: .125s;
    justify-content: space-between;
}

.username {
    font-size: 21px;
    color: var(--second-active-color);
    animation: inherit;
    cursor: pointer;
    transition-duration: .125s;
}

.username:hover, .logout:hover, .profile:hover, .logoutContainer:hover {
    opacity: 50%;
}

.username:active, .logout:active, .profile:active, .logoutContainer:active {
    opacity: 100%;
}

.profile {
    width: 30px;
    height: 30px;
    animation: inherit;
    cursor: pointer;
    fill: var(--active-color);
    transition-duration: .125s;
}

.logoutContainer {
    cursor: pointer;
    margin-left: 7px;
    width: 22px;
    height: 22px;
    animation: inherit;
    fill: var(--active-color);
    transition-duration: .125s;
}


@keyframes init {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}