.containerCounter {
    width: 50px;
    height: 40px;
    border: 1px white solid;
    overflow: hidden;
}

.counter {
    position: relative;
    bottom: 25px;
    font-size: 24px;
    height: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--active-color);
    transform: translateY(0);
}

.counterAnimation {
    animation: transform 500ms linear;
}

@keyframes transform {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }

}