.instructionLink {
    color: var(--base-color);
    margin-right: 6px;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: .125s;
}

.instructionLink:hover {
    color: var(--active-color);
}

.instruction {
    font-size: 17px;
    margin-top: 45px;
    color: var(--base-color);
}