.toast {
    --toastify-icon-color-error: var(--active-color);
    --toastify-color-dark: var(--interface-background-color);
    --toastify-color-error: rgba(255, 255, 255, 0.65);
    --toastify-color-progress-error: var(--active-color);
    --toastify-color-progress-dark: var(--active-color);
    font-size: 1.7rem;
    text-align: center;
}