.placeholderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: var(--second-active-color);
    animation: var(--animation-init);
}

.timerContainer {
    display: flex;
    position: absolute;
    bottom: 127px;
    font-size: 20px;
    color: var(--second-active-color);
}

.textUntil {
    display: flex;
    font-size: 20px;
    animation: var(--animation-init);
    margin-top: 15px;
    gap: 10px;
    color: var(--base-color);
}
