.position{
    position: absolute;
    top:-200px;
    left:200px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    border-radius: 10px;
    width: 940px;
    height: 25px;
    user-select: none;
}

/*Режимы*/

.containerPositionModes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.containerModes{
    display: flex;
    gap: 160px;
    flex-direction: row;
    background-color: transparent;
    z-index: 2;
}

.modes{
    background-color: inherit;
    cursor: pointer;
}

.modes:hover{
    color: darkgrey;
}

.modesActive{
    color:white;
}

/**/


/*Вертикальные линии*/


.containerLines{
    position: absolute;
    display: flex;
    background-color: dimgray;
    flex-direction: row;
    gap: 650px;
    z-index: 1;
}

.verticalLine{
    height: 19px;
    width: 4px;
    border-radius: 20px;
    background-color: #424245;
}

/**/



/*Числа*/

.containerNumber{
    position: absolute;
    margin-left:800px;
    margin-bottom:3px;
    gap:10px;
    display: flex;
    background-color: dimgray;
    flex-direction: row;
    z-index: 1;
}

.number{
    background-color: inherit;
    cursor: pointer;
}

.number:hover{
    color: darkgrey;
}

/**/


/*Знаки*/

.containerSigns{
    position: absolute;
    margin-right: 800px;
    font-size: 18px;
    gap:10px;
    display: flex;
    background-color: dimgray;
    z-index: 1;
}

.signs{
    background-color: inherit;
    cursor: pointer
}

.signs:hover{
    color: darkgrey;
}

/**/