* {
  margin: 0;
  padding: 0;
  background-color: #2C2E31;
}

.container{
  font-family: 'Montserrat', sans-serif;
  padding-left: 6vw;
  padding-right: 100px;
  user-select: none;
}

.App{
  position: relative;
  text-align: center;
  top: 300px;
}

.example{
  position: fixed;
  top: 320px;
  left: 0;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  font-size: 35px;
  width: 100%;
  background: transparent;
}

.result{
  font-size: 25px;
  color: white;
}

.header{
  margin: 25px 25px;
  font-size: 35px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.timer{
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  bottom: 54px;
  left: 205px;
  height: 5px;
}

/*Футер*/

.footer {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  padding-left: 125px;
  margin-bottom: 15px;
  left: 0;
  bottom: 0;
  color: gray;
}

a:active{
  color: gray;
}

a{
  text-decoration: none;
  color: gray;
}

.extra:hover{
  cursor: pointer;
  color: white;
}

.extra:active{
  color: gray;
}

.leftBlock{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rightBlock{
  display: flex;
  justify-content: center;
  gap: 120px;
  width: 100%;
}

/**/