/*:root {*/
/*    --background-color: #2C2E31;*/
/*    --base-color: gray;*/
/*    --active-color: white;*/
/*    --interface-color: rgba(26, 26, 29, 0.49);*/
/*    --line-color: #424245;*/
/*    --header-timer-example: white;*/
/*    --modal-color: #303033;*/
/*}*/

* {
    /*box-shadow: 0 0 0 1px red;*/
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body, html {
    background-color: var(--background-color);
    transition-duration: .2s;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1270px;
    height: 96vh;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}


@keyframes init {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

@keyframes blink {
    0% {
        opacity: .9;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: .9;
    }
}

.instructions {
    position: absolute;
    color: var(--base-color);
    left: 33%;
    top: 170px;
    font-size: 1.9rem;
    animation: blink 2s infinite;
}

.example {
    position: absolute;
    top: 278px;
    left: 0;
    justify-content: center;
    align-items: center;
    color: var(--header-timer-example);
    display: flex;
    font-size: 3.5rem;
    width: 100%;
    background: transparent;
}

.timer {
    font-size: 2rem;
    color: var(--header-timer-example);
    position: absolute;
    top: 230px;
    left: 185px;
    cursor: pointer;
    animation: init ease-in-out .3s;
}

/*Стили для таймера полоски*/

/*style={{*/
/*      fontSize: '2rem',*/
/*      color: 'var(--header-timer-example)',*/
/*      position: 'absolute',*/
/*      bottom: '79px',*/
/*      left: '205px',*/
/*      height: '3px',*/
/*      animation: 'init ease-in-out .3s',*/
/*      width: `${width}px`,*/
/*      background: 'var(--base-color)',*/
/*      cursor: 'pointer',*/
/*      transition: 'width 1s linear',*/
/*  }}*/

/*Footer*/

.footer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    bottom: 12px;
    color: var(--base-color);
}

@media screen and (max-width: 1200px) {
  .footer {
    font-size: 1.6rem;
  }
}

a:active {
    color: var(--base-color);
}

a {
    cursor: auto;
    text-decoration: none;
    color: var(--base-color);
}

.extra{
    display: inline-block;
}

.extra:hover {
    cursor: pointer;
    color: var(--active-color);
}

.extra:active {
    color: var(--base-color);
}

.errorEmail {
    color: var(--active-color);
    user-select: text;
    background-color: var(--modal-color);
}

.versionNumber {
    font-size: 2.5rem;
    background-color: var(--modal-color);
}

.versionText {
    color: var(--active-color);
    background-color: var(--modal-color);
}

.leftBlock {
    display: flex;
    gap: 15%;
    width: 100%;
    justify-content: space-between;
}

.leftBlock > * {
    flex-shrink: 0;
}

.rightBlock {
    display: flex;
    justify-content: flex-end;
    gap: 120px;
    width: 100%;
    flex-wrap: wrap;
}

/**/