.packContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    border: 4px solid white;
    overflow: hidden;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
        transform: scale(110%);
    }

    &:active {
        transform: scale(100%);
    }
}

.boosterModal {
    min-width: 480px;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    transition-duration: .150s;
    gap: 20px;
    animation: openCard linear .2s;
}

@keyframes openCard {
    0% {
        transform: scale(140%);
        opacity: .4;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

.packContainerOpen {
    transition-duration: .150s;
    animation: openPack linear .150s;
}

@keyframes openPack {
    0% {
        transform: scale(110%);
    }

    50% {
        transform: scale(150%);
        opacity: .4;
    }

    100% {
        background-color: darkgray;
        transform: scale(170%);
        opacity: 0;
    }
}

.packTitle {
    color: white;
    font-size: 35px;
}