.select {
    font-size: 16px;
    background-color: transparent;
    color: var(--base-color);
    transition-duration: .125s;
}

.selectParams {
    width: 100%;
    padding: 0 11px;
}

.selectMode {
    min-width: 50px;
}

.select:hover {
    color: var(--active-color);
}

.select:active {
    color: var(--base-color);
}

.selectActive {
    color: var(--active-color);
}