.select {
    font-size: 16px;
    background-color: transparent;
    color: var(--base-color);
    min-width: 20px;
    transition-duration: .125s;
}

.select:hover {
    color: var(--active-color);
}

.select:active {
    color: var(--base-color);
}

.selectActive {
    color: var(--active-color);
}