.container {
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    top: 41%;
    right: 0;
    width: 450px;
    height: 70px;
    background: var(--interface-background-color);
    color: var(--active-color);
    animation: init .5s linear;
}

.picture {
    width: 42px;
    height: 42px;
    background-image: url("/public/assets/Sprite-0002.png");
    margin: 10px;
}

@keyframes init {
    0% {
        transform: translateX(450px);
    }

    50%{
        transform: translateX(225px);
    }

    100% {
        transform: translateX(0px);
    }
}